#main{
    padding-top: 30px;
}

#images{
    height: 570px;
    width: 320px;
    padding-top: 40px;
    position: relative;
    top: 8%;
}
.column1{
    padding-right: 0px;
}
.column2{
    padding-left: 0px;
}
#images img{
    width: inherit;
    height: inherit;
    position: absolute;
    /* top: 0%; */
    right: 0%;
}
#images :first-child{
    z-index: 100;
}
p{
    position: absolute;
    padding-top: 100px;
    text-align: center;
    font-size: 18px;
    margin-left: 150px;
}
button{
     position: fixed; 
     margin-left: 420px;
     top: 65%;
}
